<ion-header [translucent]="true">
  <ion-toolbar style="--background:#fff; --border-width: 0;">
    <ion-title>
      MY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="padding: 0px 24px;">
    <p style="color: #F16C1E; margin-bottom: 32px;">
      <b>7533_001</b> 님<br/>
      안녕하세요
    </p>

    <div style="display: flex; margin-bottom: 20px; font-size: 14px;" routerLink="../../point">
      <img src="../../assets/icon/my_cash.svg" style="margin-right: 16px;"/>
      <span style="margin: auto 0;">
        적립 내역
      </span>
      <img src="../../assets/icon/right.svg" style="margin-left: auto;"/>
    </div>

    <div style="display: flex; margin-bottom: 20px; font-size: 14px;" routerLink="../../coupon">
      <img src="../../assets/icon/my_gift.svg" style="margin-right: 16px;"/>
      <span style="margin: auto 0;">
        교환권 내역
      </span>
      <img src="../../assets/icon/right.svg" style="margin-left: auto;"/>
    </div>

    <div style="display: flex; margin-bottom: 20px; font-size: 14px;" routerLink="../../withdraw">
      <img src="../../assets/icon/my_out.svg" style="margin-right: 16px;"/>
      <span style="margin: auto 0;">
        출금 신청
      </span>
      <img src="../../assets/icon/right.svg" style="margin-left: auto;"/>
    </div>

    <div style="display: flex; margin-bottom: 20px; font-size: 14px;" routerLink="../../withdraw-list">
      <img src="../../assets/icon/my_outlist.svg" style="margin-right: 16px;"/>
      <span style="margin: auto 0;">
        출금 내역
      </span>
      <img src="../../assets/icon/right.svg" style="margin-left: auto;"/>
    </div>

    <div style="display: flex; margin-bottom: 32px; font-size: 14px;">
      <img src="../../assets/icon/my_push.svg" style="margin-right: 16px;"/>
      <span style="margin: auto 0;">
        푸시 알림
      </span>
      <ion-toggle style="margin: auto 0 auto auto; --track-background-checked: #F16C1E;"></ion-toggle>
    </div>

    <div style="display: flex; margin-bottom: 32px; font-size: 14px;" routerLink="../../terms">
      <span style="margin: auto 0;">
        서비스 이용약관
      </span>
      <img src="../../assets/icon/right.svg" style="margin-left: auto;"/>
    </div>

    <div style="display: flex; margin-bottom: 32px; font-size: 14px;" routerLink="../../policy">
      <span style="margin: auto 0;">
        개인정보처리방침
      </span>
      <img src="../../assets/icon/right.svg" style="margin-left: auto;"/>
    </div>

    <div style="display: flex; margin-bottom: 32px; font-size: 14px;" routerLink="../../quit">
      <span style="margin: auto 0;">
        서비스 탈퇴
      </span>
      <img src="../../assets/icon/right.svg" style="margin-left: auto;"/>
    </div>

  </div>
</ion-content>
