<ion-header [translucent]="true">
  <ion-toolbar style="--background:#fff; --border-width: 0;">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title style="font-weight: bold; font-size: 18px;">
      출금 내역
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="padding: 40px 20px">
    <div class="item" *ngFor="let item of list" style="margin-bottom: 32px;">
      <div style="display: flex; justify-content: space-between;">
        <span style="font-size: 14px; font-weight: bold; color: #292B2C;">
          {{datetimeToString(item.createAt)}} 출금
        </span>
        <span style="font-size: 14px; font-weight: bold; color: #F16C1E;">
          {{item.dotoli}}원
        </span>
      </div>
      <span style="font-size: 14px; color: #7F818B;">
        {{datetimeToString(item.createAt)}}
      </span>
    </div>
  </div>
</ion-content>
