
ion-tab-bar {
    box-shadow: 0px -8px 28px 0px rgba(182, 182, 182, 0.25);
    backdrop-filter: blur(7px);
    background: #ffffff;
}

ion-tab-button {
    --color: #808080;
    --color-selected: #2b2b2b;
    font-size: 12px;

    &.tab-selected::before {
        background-color: #2b2b2b;
    }

    ion-icon {
        height: 24px;
        width: 24px;
        padding-bottom: 4px;
    }
}