<ion-content [fullscreen]="true">
  <div style="padding: 120px 20px; height: 100%; text-align: center; background: #F16C1E;">
    <img style="margin-right: 4px; width: 180px;" src="../../assets/icon/logo.svg"/>
  </div>
</ion-content>

<ion-footer style="box-shadow: none">
  <div style="padding: 80px 20px; text-align: center; background: #F16C1E;">
    <div>{{host}}</div>
    <img (click)="kakao()" style="width: auto;" src="../../../assets/image/kakao_login_medium_wide.png" alt="">
    <!-- <img style="width: auto; margin-bottom: 12px;" src="../../assets/icon/google.svg"/><br/>
    <img style="width: auto;" src="../../assets/icon/naver.svg"/> -->
  </div>
</ion-footer>