<ion-header [translucent]="true">
  <ion-toolbar style="--background:#fff; --border-width: 0;">
    <ion-title style="text-align: center; font-weight: bold; font-size: 18px;">
      미션
    </ion-title>
  </ion-toolbar>

  <ion-toolbar style="--background:#fff; --border-width: 0;">
    <div style="width: 100%; background: #F6F6F6; padding: 8px 16px;">
      <span (click)="clickMenu('answer')" style="font-weight: bold; font-size: 18px; margin-right: 12px;" [ngClass]="selectedMenu == 'answer' ? 'orange' : 'gray'">
        정답미션
      </span>
      <span (click)="clickMenu('normal')" style="font-weight: bold; font-size: 18px; margin-right: 12px;" [ngClass]="selectedMenu == 'normal' ? 'orange' : 'gray'">
        수행미션
      </span>
      <span (click)="clickMenu('capture')" style="font-weight: bold; font-size: 18px;" [ngClass]="selectedMenu == 'capture' ? 'orange' : 'gray'">
        캡처미션
      </span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="selectedMenu == 'answer'">
    <div style="padding: 0px 24px;"> 
      <p *ngIf="answerMissionList" style="font-size: 14px; margin-bottom: 24px;">
        전체 미션 {{answerMissionList.length}}개
      </p>
      
      <div *ngFor="let mission of answerMissionList" style="display: flex; margin-bottom: 20px;" (click)="navAnswerDetail(mission.seq)">
        <img *ngIf="mission.snsType == '0004'" src='../../assets/icon/musinsa_icon.png' style="width: 75px; height: 50px; border-radius: 10px;" />
        <img *ngIf="mission.snsType == '0001'" src='../../assets/icon/naver_icon.png' style="width: 75x; height: 50px; border-radius: 10px;" />
        <img *ngIf="mission.snsType == '0002'" src='../../assets/icon/instagram_icon.png' style="width: 75px; height: 50px; border-radius: 10px;" />
        <img *ngIf="mission.snsType == '0003'" src='../../assets/icon/coupang_icon.png' style="width: 75px; height: 50px; border-radius: 10px;" />
        <div style="padding-left: 30px; padding-top: 5px; font-size: 14px; color: #7F818B;">
          <p style="margin: 0; font-weight: bold; margin-bottom: 4px; color: #1C1C1D;">
            {{mission.title}}
          </p>
          <!-- <div class="ellipsis" style="margin-bottom: 4px;">
            <span>
              {{mission.description}}
            </span>
          </div> -->
          <!-- <div style="margin-bottom: 4px;">
            <span>
              D-3
            </span>
            <img src="../../assets/icon/people.svg"/>
            <span>
              {{mission.attendCnt}}
            </span>
          </div> -->
          <p style="margin: 0; color: #F16C1E; font-weight: bold; margin-top: 2px;">
            {{addComma(mission.dotoli)}} 도토리 적립
          </p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedMenu == 'normal'">
    <div style="padding: 0px 24px;">
      <p style="font-size: 14px; margin-bottom: 24px;">
        전체 미션 {{pressMissionList.length}}개
      </p>
      
      <div *ngFor="let mission of pressMissionList" style="display: flex; margin-bottom: 32px;" (click)="navPressDetail(mission.seq)">
        <img *ngIf="mission.snsType == '0004'" src='../../assets/icon/musinsa_icon.png' style="width: 100px; height: 50px; border-radius: 10px;" />
        <img *ngIf="mission.snsType == '0001'" src='../../assets/icon/naver_icon.png' style="width: 100px; height: 50px; border-radius: 10px;" />
        <img *ngIf="mission.snsType == '0002'" src='../../assets/icon/instagram_icon.png' style="width: 100px; height: 50px; border-radius: 10px;" />
        <img *ngIf="mission.snsType == '0003'" src='../../assets/icon/coupang_icon.png' style="width: 100px; height: 50px; border-radius: 10px;" />
        <div style="padding-left: 20px; font-size: 14px; color: #7F818B;">
          <p style="margin: 0; font-weight: bold; margin-bottom: 4px; color: #1C1C1D;">
            {{mission.title}}
          </p>
          <div class="ellipsis" style="margin-bottom: 4px;">
            <span>
              {{mission.description}}
            </span>
          </div>
          <!-- <div style="margin-bottom: 4px;">
            <span>
              D-3
            </span>
            <img src="../../assets/icon/people.svg"/>
            <span>
              {{mission.attendCnt}}
            </span>
          </div> -->
          <p style="margin: 0; color: #F16C1E; font-weight: bold;">
            {{addComma(mission.dotoli)}} 도토리 적립
          </p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedMenu == 'capture'">
    <div style="padding: 0px 24px;"> 
      <p *ngIf="captureMissionList" style="font-size: 14px; margin-bottom: 24px;">
        전체 미션 {{captureMissionList.length}}개
      </p>
      
      <div *ngFor="let mission of captureMissionList" style="display: flex; margin-bottom: 20px;" (click)="navCaptureDetail(mission.seq)">
        <img *ngIf="mission.snsType == '0004'" src='../../assets/icon/musinsa_icon.png' style="width: 75px; height: 50px; border-radius: 10px;" />
        <img *ngIf="mission.snsType == '0001'" src='../../assets/icon/naver_icon.png' style="width: 75x; height: 50px; border-radius: 10px;" />
        <img *ngIf="mission.snsType == '0002'" src='../../assets/icon/instagram_icon.png' style="width: 75px; height: 50px; border-radius: 10px;" />
        <img *ngIf="mission.snsType == '0003'" src='../../assets/icon/coupang_icon.png' style="width: 75px; height: 50px; border-radius: 10px;" />
        <div style="padding-left: 20px; font-size: 14px; color: #7F818B;">
          <p style="margin: 0; font-weight: bold; margin-bottom: 4px; color: #1C1C1D;">
            {{mission.title}}
          </p>
          <!-- <div class="ellipsis" style="margin-bottom: 4px;">
            <span>
              {{mission.description}}
            </span>
          </div> -->
          <!-- <div style="margin-bottom: 4px;">
            <span>
              D-3
            </span>
            <img src="../../assets/icon/people.svg"/>
            <span>
              {{mission.attendCnt}}
            </span>
          </div> -->
          <p style="margin: 0; color: #F16C1E; font-weight: bold;">
            {{addComma(mission.dotoli)}} 도토리 적립
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
