p, span {
    color: #292B2C;
}
.slider {
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}
.slide {
    scroll-behavior: smooth;
    scroll-snap-align: start;
    width: 100%;
    flex-shrink: 0;
    height: 100%;
}

.ellipsis {
    width: 140px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrap-vertical{
    width: 700px;
    padding-right: 350px;
    overflow: scroll;
    overflow: auto;
    white-space: nowrap;
}

.wrap-vertical::-webkit-scrollbar{
    display: none; 
}