<ion-header [translucent]="true">
  <ion-toolbar style="--background:#fff; --border-width: 0;">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title style="font-weight: bold; font-size: 18px;">
      미션 상세
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="slider">
    <div class="slide" id="slide-1">
      <img src={{mision?.image}} onerror="this.src='../../assets/image/banner1.png'"/>
    </div>
    <!-- <div class="slide" id="slide-2"> 
      <img src="../../assets/image/banner2.png"/>
    </div>
    <div class="slide" id="slide-3">
      <img src="../../assets/image/banner3.png"/>
    </div> -->
  </div>

  <div style="padding: 10px 20px;">
    <p style="font-size: 18px; font-weight: bold; margin: 4px 0;">
      {{mision?.title}}
    </p>
    <!-- <span style="font-size: 16px; color: #7F818B;">
      {{mision?.description}}
    </span> -->

    <p style="font-size: 12px; color: #555555;">
      {{mision?.description}}
    </p>
  </div>
</ion-content>

<ion-footer>
  <div style="padding: 10px 20px;">
    <ion-button  expand="block" style="height: 56px; font-size: 20px; font-weight: bold; border-radius: 10px; --background: linear-gradient(180deg, #FF9040 0%, #F16C1E 100%); --background-activated: #F16C1E">
      <div>정답 입력하고 {{mision?.dotoli}} 도토리 받기</div>
    </ion-button>
  </div>
</ion-footer>