<ion-header [translucent]="true">
  <ion-toolbar style="--background:#fff; --border-width: 0;">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title style="font-weight: bold; font-size: 18px;">
      미션 상세
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="slider">
    <!-- <div class="slide" id="slide-1">
      <img src={{mision?.image}} onerror="this.src='../../assets/image/banner3.png'"/>
    </div> -->
    <!-- <div class="slide" id="slide-2"> 
      <img src="../../assets/image/banner2.png"/>
    </div>
    <div class="slide" id="slide-3">
      <img src="../../assets/image/banner3.png"/>
    </div> -->
  </div>

  <div style="padding: 10px 20px;">
    <p style="font-size: 20px; font-weight: bold; margin: 4px 0;">
      {{mission?.title}}
    </p>
    <!-- <span style="font-size: 16px; color: #7F818B;">
      {{mission?.description}}
    </span> -->

    <p style="font-size: 14px; color: #555555; white-space: pre-wrap">
      {{description}}
    </p>

    <div style="text-align: center;">
      <ion-button (click)="openPage('https://nid.naver.com/nidlogin.login?svctype=262144&mode=form&url=' + '{{mission?.url}}')" shape="round" style="height: 42px; font-size: 16px; font-weight: bold; border-radius: 100%; --background:#FF9040; --background-activated: #F16C1E">
        <div>정답 찾으러 가기</div>
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div style="padding: 10px 20px;">
    <ion-button (click)="submit()" expand="block" style="height: 56px; font-size: 20px; font-weight: bold; border-radius: 10px; --background: #FF9040; --background-activated: #F16C1E">
      <div>정답 입력하고 {{mission?.dotoli}} 도토리 받기</div>
    </ion-button>
  </div>
</ion-footer>