<ion-header [translucent]="true">
  <ion-toolbar style="--background:#fff; --border-width: 0;">
    <ion-title style="text-align: center; font-weight: bold; font-size: 18px;">
      제휴 미션
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="padding: 0px 24px;">
    <p style="font-size: 14px; margin-bottom: 24px;">
      전체 미션 1개
    </p>
    
    <!-- *ngFor="let number of [0,1,2,3,4]" (click)="navDetail(number)" -->
    <div style="display: flex; margin-bottom: 32px;">
      <img src='../../assets/image/mission.jpg' style="width: 65px; height: 65px; border-radius: 10px;" />
      <div (click)="notProvided()" style="padding-left: 20px; font-size: 14px; color: #7F818B; padding: 4px 20px;">
        <p class="ellipsis" style="margin: 0; font-weight: bold; margin-bottom: 2px; color: #1C1C1D;">
          내 차 보험료 계산 시 신세계 상품권 5천원 추첨증정
        </p>
        <div class="ellipsis" style="margin-bottom: 2px;">
          <span>
            데이터로 똑똑하게 탄 만큼만 내는(특약) 캐롯 퍼마일 자동차 보험은
          </span>
        </div>
        <p style="margin: 0; color: #F16C1E; font-weight: bold;">
          5,000 도토리 적립
        </p>
      </div>
    </div>
  </div>
</ion-content>
