<ion-header [translucent]="true">
  <ion-toolbar style="--background:#fff; --border-width: 0;">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>서비스 탈퇴</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="padding: 10px 20px;">
    <p style="font-size: 12px; color: #555555;">
      Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
      The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts
      of Cicero's De Finibus Bonorumet Malorum for use in a type specimen book. It usually begins with:
    </p>
  </div>
</ion-content>

<ion-footer>
  <div style="padding: 10px 20px;">
    <ion-button expand="block" style="height: 56px; font-size: 20px; font-weight: bold; border-radius: 10px; --background: linear-gradient(180deg, #FF9040 0%, #F16C1E 100%); --background-activated: #F16C1E">
      서비스 탈퇴하기
    </ion-button>
  </div>
</ion-footer>