<ion-header [translucent]="true">
  <ion-toolbar style="--background:#fff; --border-width: 0;">
    <ion-title>약관동의</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="padding: 120px 20px; text-align: center;">
    <img style="margin-right: 4px; width: 62px;" src="../../assets/icon/dotori_icon.svg"/>
    <p style="font-size: 20px; font-weight: bold; margin: 8px;">
      7533_001 님<br/>
      도토리 캐시 가입을 축하드립니다!
    </p>
  </div>
</ion-content>

<ion-footer>
  <div style="padding: 10px 20px;">
    <ion-button expand="block" style="height: 56px; font-size: 20px; font-weight: bold; border-radius: 10px; --background: linear-gradient(180deg, #FF9040 0%, #F16C1E 100%); --background-activated: #F16C1E">
      도토리 캐시 시작하기
    </ion-button>
  </div>
</ion-footer>