<ion-header [translucent]="true">
  <ion-toolbar style="--background:#fff; --border-width: 0;">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>교환권 상세</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="padding: 16px 20px;">

    <div style="text-align: center; margin-bottom: 28px;">
      <div>
        <img src="../../assets/image/barcode.png"/>
      </div>
      <span style="font-size: 14px; margin-right: 16px; color: #484848;">59744247</span>
      <span style="font-size: 14px; text-decoration : underline; color: #484848;">코드번호 복사</span>
    </div>

    <div style="display: flex; background: #F3F3F3; padding: 10px; border-radius: 10px;">
      <div style="width: 50px; height: 50px; border-radius: 10px; background: #B6B3B3;">
      </div>
      <div style="padding-left: 20px; font-size: 14px; color: #7F818B;">
        <p style="margin: 0; font-weight: bold; margin-bottom: 4px; color: #1C1C1D;">
          블랙핑크 스트로베리 쉐이크
        </p>
        <p style="margin: 0; margin-bottom: 4px;">
          2023.08.30 까지
        </p>
      </div>
    </div>
    <span style="font-size: 12px; color: #F16C1E;">
      ※ 쿠폰은 교환, 환불, 연장이 불가능합니다
    </span>

    <div style="height: 16px;"></div>

    <p style="font-size: 12px; color: #555555;">
      Lorem ipsum, or lipsum as it is sometimes known
      is dummy text used in laying out print, graphic or web designs.
      The passage is attributed to an unknown typesetter
      in the 15th century who is thought to have scrambled parts of Cicero's
      De Finibus Bonorum et Malorum for use in a type specimen book.
      It usually begins with:
    </p>

  </div>
</ion-content>
